body {
    background: #2e2e2e;
    color: #f1f1f1;
}

canvas {
    width : 90%;
}

.table-active {
    background-color: #f15500;
}
.table-active:hover {
    background-color: #f47700 !important;
}

.scrubber-view {
    height : 72px;
    width : 100%;
    padding : 16px;
    position: fixed;
    bottom: 0;
    background-color: #f1f1f1;
}